{% load static %}
<!-- /side nav -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
                           <!-- <li class="sidebar-search">
                          <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                           /input-group
                       </li>-->
                       <li>
                        <a href="dash_home.html"><i class="fa fa-user fa-fw"></i>



                        </a>
                    </li>

                    <li>
                        <a href="#"><i class=" fa fa-edit fa-fw"></i>FACULTY<span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="empreg.html">Registration</a>
                            </li>
                            <li>
                                <a href="viewstaff.html">View Faculty Details</a>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class=" fa fa-edit fa-fw"></i>STAFF ADVISOR<span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="staffreg.html">Allot Staff Advisor</a>
                            </li>
                            <li>
                                <a href="viewstaffadvisor.html">View Staff Advisor</a>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class=" fa fa-edit fa-fw"></i>SUBJECT<span class="fa arrow"></span></a>

                        <ul class="nav nav-second-level">
                            <li>
                                <a href="subreg.html">Add Subject</a>
                            </li>
                            <li>
                                <a href="subject_view.html">View Subjects</a>
                            </li>
                            <li>
                                <a href="suballoc.html">Allocate Subject</a>
                            </li>

                            <li>
                                <a href="suballocview.html">View Subject Allocation</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="searchstudent.html"><i class="fa fa-search fa-fw"></i>STUDENT SEARCH</a>
                    </li>

            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
