<!DOCTYPE html>
<html lang="en">
{% include 'sidenav.html' %}
{% include 'header.html' %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<head>

<div id="page-wrapper">

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Add Subject</h1>
			</div>
		</div>



		<form id="addsub" action = "addsub.html" method = "POST" enctype = "" onsubmit="return validate();">
        {% csrf_token %}
			<table  id="outer1" align="center" style="padding-top:40px">
				<tr>
					<td>Department: <span class="required">*</span></td>
					<td><select id="select1" name="deptname1"  class="form-control" >
					<option disabled selected="true" >--select--</option>
                       {% for rest12 in Department %}
						<option value="{{rest12.deptname}}">{{rest12.deptname}}</option>
						{% endfor%}


					</select>
					</td>
		 </tr>
				<tr>
					<td>Subject-ID: <span class="required">*</span></td>
					<td>
						<input required="required" class="form-control" pattern="^[A-Za-z0-9]+$" id="Text5" type="text" name="subid" style="text-transform:uppercase; width: 400px" />
					</td>
				</tr>
				<tr>
					<td>Subject Title: <span class="required">*</span></td>
					<td>
						<input required="required" class="form-control" autocomplete="off" id="Text6" type="text" name="name" style="text-transform:uppercase; width: 400px" />
					</td>
				</tr>
				<tr>
					<td>Semester: <span class="required">*</span></td>
					<td>
						<select  id="select2" name="deptname"  class="form-control">
							<option disabled selected="true" >--select--</option>
							 {% for sub1 in ClassDetails %}
						<option value="{{sub1.classid}}">{{sub1.classid}}</option>
						{% endfor%}
						</select>
					</td>
				</tr>
				<tr>
					<td>Type: <span class="required">*</span></td>
					<td>
						<select name="type" id="type" class="form-control">
							<option value="--select--">--select--</option>
							<option value="CORE">THEORY</option>
							<option value="LAB">PRACTICAL</option>
							<option value="ELECTIVE">ELECTIVE THEORY</option>
							<option value="LAB">MINI PROJECT</option>
							<option value="LAB">MAIN PROJECT</option>
                        </select>
						</td>
					</tr>
					<tr>
						<td>Internal Pass Mark : <span class="required">*</span></td>
						<td>
							<input required="required" class="form-control" id="Text1" type="text" step="any" name="inpass" style="text-transform:uppercase; width: 400px" onkeypress="return isNumberKey(event)" />
						</td>
					</tr>
					<tr>
						<td>Internal Maximum Mark : <span class="required">*</span></td>
						<td>
							<input required="required" class="form-control" id="Text2" type="text" name="inmax" style="text-transform:uppercase; width: 400px" />
						</td>
					</tr>
					<tr>
						<td>External Pass Mark : <span class="required">*</span></td>
						<td>
							<input required="required" class="form-control" id="Text3" type="text" name="expass" style="text-transform:uppercase; width: 400px" onkeypress="return isNumberKey(event)"/>
						</td>
					</tr>
					<tr>
						<td>External Maximum Mark : <span class="required">*</span></td>
						<td>
							<input required="required" class="form-control" id="Text4" type="text" name="exmax" style="text-transform:uppercase; width: 400px" />
						</td>
						<tr>
							<td><input style="width:200px" class="btn btn-primary" id="submit" type="submit" value="Submit" name="submit"/></td>


						</tr>
					</table>
               {% if messages %}
			{% for message in messages %}
			<h4  align="center" style="color:green">{{message}}</h4>
			{% endfor %}
			{% endif %}
				</form>
      {% include 'footer.html' %}
    </div>

</html>