<!DOCTYPE html>
<html lang="en">
{% include 'sidenav.html' %}
{% include 'header.html' %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header" align="center"><span>View Subject </span></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">


			<form id="subview" action = "" method = "POST" enctype = "">

				</form>
				<br><br>
				<div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0">
					<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">

						<tr>
							<th>Subject-ID</th>
							<th>Subject</th>

							<th>Type</th>
							<th>Internal Pass Mark</th>
							<th>Internal Max</th>
							<th>External Pass Mark</th>
							<th>External Max</th>
							<th></th>
						</tr>

								<tr>
									<td></td>
									<td></td>

									<td>



								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>


								<td>
<a href="#">REMOVE</a>
<a href="#">EDIT</a>


								</td>

							</tr>
{% include 'footer.html' %}
</html>